.modalContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 650px;
    background: rgba(13, 13, 13, 1);
    background-position: right 0 top 100px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 16px;
    z-index: 55;
  }
  
  .modalFrame {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 97%;
    height: 97%;
    padding-top: 29px;
    padding-bottom: 23px;
    padding-left: 22px;
    padding-right: 22px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .headline {
    font-size: 42px;
    line-height: 47px;
    padding-right: 80px;
    font-weight: 600;
    line-height: 47px;
    background: linear-gradient(155.72deg, #9C74F1 35.45%, #3600A8 52.07%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  
  .withoutGradient {
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  
  .btnClose {
    position: absolute;
    top: 29px;
    right: 26px;
    width: 24px;
    height: 24px;
    border-radius: 6px;
    border: 1.5px solid rgba(255, 255, 255, 1)
  }
  
  .headline_3 {
    margin-top: 0;
  }
  
  .promoteContainer {
  
  }
  
  .justFrom {
    display: flex;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
  }
  
  .paragraph {
    padding-right: 250px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    color: rgba(200, 200, 200, 1);
  }
  
  .controls {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: auto;
  }
  
  .promote {
    position: relative;
    width: 275px;
    height: 65px;
    padding: 16px 32px 16px 32px;
    border-radius: 12px;
    background: linear-gradient(0deg, #183DD4, #183DD4),
    linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    border: 1px solid rgba(255, 255, 255, 0.1)
  }
  
  .linkPromote {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
  }
  
  .no {
    width: 275px;
    height: 65px;
    padding: 16px 32px 16px 32px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
    linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
  }
  
  @media (max-width: 1366px) {
  
  }
  
  @media (max-width: 992px) {
  
  }
  
  @media (max-width: 768px) {
    .modalContainer {
        width: 100%;
        height: auto;
        background-position: bottom;
    }
    .modalFrame {
        border-radius: 12px;
        margin-bottom: 6px;
        padding-bottom: 30px;
        box-shadow: 0px 0px 18px 0px rgba(255, 255, 255, 0.3) inset;
        border-image-source: linear-gradient(135.81deg, #42457B 0%, rgba(66, 69, 123, 0) 69.13%, #42457B 101.45%);
        border-width: 3px;
        border-style: solid;
    }
    .headline_3 {
        font-size: 16px;
        padding-right: 40px;
    }
    .headline {
        font-size: 22px;
        line-height: 32px;
    }
    .justFrom {
        font-size: 16px;
    }
    .paragraph {
        margin-bottom: 30px;
        padding: 0;
    }
    .controls {
        margin-top: 20px;
        flex-direction: column-reverse;
    }
    .controls > button:last-child {
        margin-bottom: 20px;
    }
  }